witch/GJAPI.js
insp/
node_modules/
*.*~
assets/rooms/main_save/
assets/rooms/main_save_0/
assets/rooms/main_save_1/
assets/rooms/main_save_2/
assets/rooms/main_save_3/
assets/rooms/main_save_4/
assets/rooms/main_save_5/
assets/rooms/main_save_6/
assets/rooms/main_save_7/